body {
  color: var(--primary);
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.bg {
  width: 1365px;
  height: 765px;
  position: relative;
}

.bg-services {
  background-image: url('assets/bg/services.jpg');
}

:root {
  --primary: #363636;
  --border: #9A9A9A;
}

.resize-drag {
    width: fit-content;
    height: 240px;
    touch-action: none;
    box-sizing: border-box;
    display: flex;
    position: sticky;
    gap: 10px;
    bottom: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
  gap: 5px;
  cursor: default;
  width: 100%;
}

.card__drag {
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid var(--border);
  border-radius: 7px 0 0 7px;
  cursor: move;
}

.card__drag:hover {
  background-color: #21A567;
}

.card__drag:hover img {
  filter: brightness(0) invert(100%);
}

.card__heading {
  display: flex;
}

.icon {
  cursor: pointer;
}

.section {
  cursor: default;
}

.heading__left, .heading__right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.heading__left {
  width: 70%;
}

.card__content {
  display: flex;
  gap: 10px;
}

.heading__right {
  width: 30%;
}

.card__origin {
  width: 14px;
  height: 14px;
  color: #fff;
  line-height: 14px;
  font-size: 14px;
  background-color: #21A567;
  border-radius: 2px;
  text-align: center;
}

.card__urgency {
  width: 14px;
  height: 14px;
  color: #fff;
  line-height: 14px;
  font-size: 14px;
  background-color: #FF0000;
  text-align: center;
}

.title-dob__wrapper {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.card__title {
  font-weight: 700;
}

.card__dob {
  font-size: 12px;
  color: #9A9A9A;
}

.heading__right {
  justify-content: flex-end;
  gap: 10px;
}

.card__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section {
  display: flex;
  flex-direction: column;
}

.column-wrapper {
  display: flex;
}

.section__column {
  width: 50%;
}

.section__patient {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.section__item {
  align-items: center;
  gap: 5px;
}

.section__heading { 
  display: flex;
  align-items: center;
  gap: 5px;
}

.heading__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.heading__label {
  color: #21A567;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  height: 18px;
  background-color: #EDFFF6;
  border-radius: 12px;
  padding: 0 5px;
}

.section__row {
  display: flex;
  justify-content: flex-start;
}

.section__item {
  display: flex;
}

.section__item-referrer {
  justify-content: space-between;
}

.item__title {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.item__title-short {
}

.item__content {
  white-space: nowrap; 
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis; 
}


.item-hidden {
  display: none;
}

/*SERVCISES*/

.services {
  display: flex;
  gap: 10px;
}

.service {
  display: flex;
  gap: 5px;
  align-items: center;
}

.service__modal {
  color: #fff;
  background-color: #000;
  width: 30px;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  text-align: center;
}

/* Attach */

.attach {
  display: flex;
  gap: 2px;
}

.attach__icon {
  width: 20px;
  height: 20px;
}

.attach__title {
  color: #21A567;
  cursor: pointer;
}

/*Note*/
.item__title-note {
  display: flex;
  gap: 5px;
  min-width: auto;
}

.item__content-note {
  margin-left: 5px;
}

.note__icon {
  height: 16px;
}

.note {
  background-color: #FFFDEC;
  border: 1px solid #DFDFDF;
  padding: 2px;
  align-items: center;
}

.resize-drag .resizers{
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--border);
  display: flex;
}

.resizer__icon {
  width: 18px;
  height: 18px;
}

.resizer__icon:hover {
  filter: brightness(0) invert(100%);
}

.resize-drag .resizers .resizer{
  width: 25px;
  height: 25px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  background-color: #fff;
  position: absolute;
  transition: width 0.3s, height 0.3s;
}

.resize-drag .resizers .resizer.top-left {
  left: -10px;
  top: -10px;
  cursor: nwse-resize; /*resizer cursor*/
}

.resize-drag .resizers .resizer.top-right {
  right: -12px;
  top: -12px;
  cursor: nesw-resize;
}
.resize-drag .resizers .resizer:hover {
  background-color: #21A567;
}
.resize-drag .resizers .resizer.bottom-left {
  left: -10px;
  bottom: -10px;
  cursor: nesw-resize;
}
.resize-drag .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}