body {
  color: var(--primary);
  width: 100%;
  height: 900px;
  font-family: 'Roboto', sans-serif;
}

.bg-container {
  width: 1365px;
  height: 765px;
  margin: 0 auto;
}

.bg-container__services {
  background-image: url('./assets/bg/services.jpg');
}

:root {
  --primary: #363636;
  --border: #9A9A9A;
}

.resize-drag-wrapper {
  display: flex;
  border: 1px solid var(--border);
  width: fit-content;
}

.resize-drag {
    width: fit-content;
    border-radius: 8px;
    padding: 10px 10px 10px 5px;
    margin: 0 auto;
    bottom: 0;
    border: 1px solid var(--border);
    touch-action: none;
    overflow-y: auto;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    position: relative;
    gap: 10px;
  }

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: default;
  margin-left: 35px;
  width: 100%;
}

.card-border {
  border-right: 1px solid var(--border);
  position: absolute;
  height: 100%;
  width: 1px;
  left: 30px;
  top: 0;
}

.card__drag {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  border-right: 1px solid var(--border);
  top: 0;
  left: 0;
}

.card__drag:hover {
  background-color: #21A567;
}

.card__drag:hover img {
  filter: brightness(0) invert(100%);
}

.card__heading {
  display: flex;
}

.icon {
  cursor: pointer;
}

.section {
  cursor: default;
}

.heading__left, .heading__right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.heading__left {
  width: 70%;
}

.card__content {
  display: flex;
  gap: 10px;
}

.heading__right {
  width: 30%;
}

.card__origin {
  width: 14px;
  height: 14px;
  color: #fff;
  line-height: 14px;
  font-size: 14px;
  background-color: #21A567;
  border-radius: 2px;
  text-align: center;
}

.card__urgency {
  width: 14px;
  height: 14px;
  color: #fff;
  line-height: 14px;
  font-size: 14px;
  background-color: #FF0000;
  text-align: center;
}

.title-dob__wrapper {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.card__title {
  font-weight: 700;
}

.card__dob {
  font-size: 12px;
  color: #9A9A9A;
}

.heading__right {
  justify-content: flex-end;
  gap: 10px;
}

.card__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section {
  display: flex;
  flex-direction: column;
}

.column-wrapper {
  display: flex;
}

.section__column {
  width: 50%;
}

.section__patient {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.section__item {
  align-items: baseline;
  gap: 5px;
}

.section__heading { 
  display: flex;
  align-items: center;
  gap: 5px;
}

.heading__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.heading__label {
  color: #21A567;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  height: 18px;
  background-color: #EDFFF6;
  border-radius: 12px;
  padding: 0 5px;
}

.section__row {
  display: flex;
  justify-content: flex-start;
}

.section__item {
  display: flex;
}

.section__item-referrer {
  justify-content: space-between;
}

.item__title {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.item__content {
  white-space: nowrap; 
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis; 
}


.item-hidden {
  display: none;
}

/*SERVCISES*/

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 5px;
}

.service__modal {
  color: #fff;
  background-color: #000;
  width: 30px;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  text-align: center;
}

/*Note*/
.item__title-note {
  display: flex;
  gap: 5px;
  min-width: auto;
}

.item__content-note {
  margin-left: 5px;
}

.note__icon {
  height: 16px;
}

.note {
  background-color: #FFFDEC;
  border: 1px solid #DFDFDF;
  padding: 2px;
  align-items: center;
}